/DoWhileEven.class
/DoWhileReverseEven.class
/DowhileNumbers.class
/DowhileReverseOdd.class
/Dowhileodd.class
/Dowhilereversenumbers.class
/ForEvennumbers.class
/ForNumbers.class
/ForOddNumbers.class
/ForReverseEven.class
/ForReverseNumber.class
/ForReverseodd.class
/WhileNumberreverse.class
/Whileevennumber.class
/Whileoddnumber.class
/number1to50.class
/whileevenreverse.class
/whileoddReverse.class
