/Pattern_1.class
/Pattern_14.class
/Pattern_18.class
/Pattern_19.class
/Pattern_2.class
/Pattern_21.class
/Pattern_22.class
/Pattern_23.class
/Pattern_27.class
/Pattern_28.class
/Pattern_3.class
/Pattern_35.class
/Pattern_36.class
/Pattern_39.class
/Pattern_4.class
/Pattern_40.class
/Pattern_43.class
/Pattern_44.class
/Pattern_47.class
/Pattern_55.class
/Pattern_6.class
/Pattern_7.class
/pattern_10.class
/pattern_11.class
/pattern_12.class
/pattern_13.class
/pattern_15.class
/pattern_16.class
/pattern_17.class
/pattern_20.class
/pattern_24.class
/pattern_25.class
/pattern_26.class
/pattern_34.class
/pattern_41.class
/pattern_42.class
/pattern_45.class
/pattern_5.class
/pattern_53.class
/pattern_54.class
